
.message-item {
    border-bottom: 1px solid #f1f1f5;
    padding-bottom: 5px;
}

.message-item:first-of-type {
    margin-top: 10px;
}

.message-item:not(:first-of-type) {
    margin-top: 15px;
}

.message-item > p > span.layui-word-aux {
    padding-left: 0 !important;
}

.message-item > p.layui-text {
    margin-bottom: 5px;
    margin-top: 2px;
}

.message-item > blockquote.layui-elem-quote {
    border-left: none;
    padding-bottom: 6px;
    padding-top: 6px;
}

.layui-card-footer {
    text-align: center;
    padding-left: 15px;
}

.user-info p.layui-text {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

#recharge-dialog {
    overflow: hidden;
}

#recharge-dialog .layui-tab-title {
    border-bottom: none !important;
}

#recharge-dialog .layui-tab-title {
    text-align: center;
}

#recharge-dialog .layui-tab-title > li:nth-child(2),
#recharge-dialog .layui-tab-title > li:nth-child(3) {
    margin-left: 20px;
    margin-right: 20px;
}

#recharge-dialog .close-dialog {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
}

#recharge-dialog .avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

#recharge-dialog .layui-container {
    width: 100%;
}

#recharge-dialog .dialog-title {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 25px;
}

#recharge-dialog .price-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

#recharge-dialog .price-item > p:nth-child(1) > small {
    color: #838282;
}

#recharge-dialog .price-item > p:nth-child(1) > span {
    font-size: 14px;
}

#recharge-dialog .price-item.active > p:nth-child(1) > span {
    color: #f44336;
}

#recharge-dialog .price-item input {
    font-size: 14px;
}

#recharge-dialog .price-item > p:nth-child(2) {
    color: #838282;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
}

#recharge-dialog .price-item {
    border: 2px solid #838282;
}

#recharge-dialog .price-alipay.active,
#recharge-dialog .price-alipay:hover,
#recharge-dialog .price-wxpay.active,
#recharge-dialog .price-wxpay:hover {
    border: 2px solid #f44336;
}

#recharge-dialog .price-qrcode {
    width: 160px;
    height: 160px;
    background-size: contain;
    -webkit-background-size: contain;
}

.blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}